#map{
    margin-bottom: 8px;
}

#pac-input {
    top: 8px !important;
}


/* message element */
.message{
    box-sizing: border-box;
    text-align: left;
    padding: 0.5rem;
}

.message__name{
    margin: 0;
    line-height: 1.2;
}

.message{
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 1rem;
    width: 80%;
    word-break: break-all;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in;
    border-radius: 3px;
}

a.message:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    transition: box-shadow 0.2s ease-in;
}

.message--you {
    margin-left: 20%;
}

.message--other {
    margin-right: 20%;
}

.message--inbox {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.message__text{
    color: #222;
}

span.arrow {
    position: absolute;
    left: -30px;
    top: -26px;
    font-size: 43px;
    font-weight: bold;
}

.message__time {
    float: right;
    font-size: 11px;
    opacity: 0.5;
    margin-top: 5px;
    color: #222;
}

.message__composer {
    color: #0FA0CE;
    font-size: 0.9em;
}

.status--error,
.status--success{
    padding: 0.3em 0.6em;
    border-radius: 3px;
}

.status--error {
    color: #ab0022;
    background: rgba(230, 42, 50, 0.21);
}

.status--success{
    color: #00ab63;
    background: rgba(42, 230, 64, 0.2);
}

.js-input-error {
    margin-top: -13px;
    display: block;
    margin-bottom: 10px;
}