@import "icons/fontello.css";
@import 'https://fonts.googleapis.com/css?family=Exo+2:400,700';

body{
    font-family: 'Exo 2', sans-serif;
}


#map{
    margin-bottom: 8px;
}

#pac-input {
    top: 8px !important;
}




.c-header, .container, .container-custom {
    max-width: 1180px;
    margin: 0 auto;
}

.container, .container-custom{
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 6px;
}

.users dl {
    font-weight: bold;
    display: inline-block;
}

.users dd {
    display: inline-block;
    margin-left: 5px;
}

.users form{
    margin: 0;
}

.c-rate {
    display: inline-block;
}

[class*="c-rate"] {
    display: inline-block!important;
    position: relative;
    top: 3px;
}

.zebra-hover:hover{
    background: #efefef;
    cursor: pointer;
}

a:hover {
    color: #4db0cc;
}

.columns > h3,
.row > h3,
.container > h3,
.columns > h6,
.row > h6,
.container > h5,
.row > h5{
    margin-top: 0;
}

h6{
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.advanced{
    margin-top: 5px;
}

.small-p{
    max-width: 350px;
    margin-left: 55px;
}

.img-resp{
    max-width: 100%;
    max-height: 100px;
}

/*------------------------------------*\
  #RESULT
\*------------------------------------*/
.c-result{
    margin-bottom: 15px;
}

.c-result:last-of-type{
    margin-bottom: 0px;
}

.c-result__categories{
    display: block;
    color: #434343;
}

.c-result__categories:nth-of-type(n+4){
    display: none;
}

.c-result__no-img {
    width: 100%;
    display: inline-block;
    height: 100px;
    border-radius: 4px;
    background: #eaeaea;
    color: #888;
    text-align: center;
}

.c-result__no-img::before {
    display: block;
    margin: 0 auto;
    font-size: 47px;
    color: #bbb;
    margin-top: 16px;
}

.c-result--empty{
    opacity: 0.4;
}


/*------------------------------------*\
  #MESSAGE
\*------------------------------------*/
.message{
    box-sizing: border-box;
    text-align: left;
    background: rgba(0,0,0,0.1);
    padding: 1rem;
    width: 80%;
    word-break: break-all;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in;
    border-radius: 3px;
    position: relative;
}

a.message:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    transition: box-shadow 0.2s ease-in;
}

.message--you {
    margin-left: 20%;
}

.message--other {
    margin-right: 20%;
}

.message--inbox {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.message__text{
    color: #222;
}

span.arrow {
    position: absolute;
    left: -30px;
    top: -26px;
    font-size: 43px;
    font-weight: bold;
}

.message__time {
    float: right;
    font-size: 11px;
    opacity: 0.5;
    margin-top: 5px;
    color: #222;
}

.message__composer {
    color: #0FA0CE;
    font-size: 0.9em;
}


.message__delete{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35%;
}
.c-delete__trigger:hover .message__delete{
    background: #e6e6e6;
}




/*------------------------------------*\
  #DELETE SOMETHING
\*------------------------------------*/
.c-delete__trigger:hover .c-delete__icon{
    display: block;
}
.c-delete__icon{
    cursor: pointer;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 23px;
    height: 23px;
    right: 10px;
    -webkit-backface-visibility: hidden;
    transition: transform 0.2s ease-in-out;
}
.c-delete__icon:hover{
    transform: translateY(-50%) scale(1.15);
    transition: transform 0.2s ease-in-out;
}.c-delete__icon:active{
    transform: translateY(-50%) scale(1);
}

.c-delete__icon::before,
.c-delete__icon::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #e40f39;
}

.c-delete__icon::before{
    transform: rotate(45deg);
    transform-origin: top left;
}

.c-delete__icon::after{
    transform: rotate(-45deg);
    transform-origin: top right;
    left: -9px;
}

.c-delete__cancel{
    display: none;
    color: #7a7a7a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0 10px 0 0;
    right: 100%;
    width: 50px;
    cursor: pointer;
}

.c-delete__cancel:hover{
    color: #333;
}

.c-delete__confirm{
    display: none;
    color: white;
    background-color: #e40f39;
    border: none;
}

.c-delete__confirm:hover{
    color: white;
}

.c-delete__confirm:active{
    color: white;
}





/*------------------------------------*\
  #NOTIFICATIONS
\*------------------------------------*/
.c-dropdown{
    position: relative;
    z-index: 15;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;

}

.c-dropdown__trigger{
    cursor: pointer;
}

.c-dropdown__trigger:hover .c-btn{
    box-shadow: 0 3px 12px rgba(0,0,0,0.4);
    transition: box-shadow 0.1s ease-in-out;
}

.c-dropdown__trigger:active .c-btn{
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

.c-dropdown__content{
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.15);
    border-radius: 4px;
    border: 1px solid #76c2c2;
    margin-top: 10px;
}

p.c-dropdown__title {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.c-dropdown__item {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    color: #343434;
}

a.c-dropdown__item:hover {
    background: #e2e2e2;
}


.c-dropdown__item:last-of-type::before {
    color: #92cebc;
}

.c-dropdown__item::before {
    color: #45adce;
    margin-right: 10px;
}

.c-dropdown__content {
    width: 120px;
}




/*------------------------------------*\
  #NOTIFICATIONS
\*------------------------------------*/
.c-notification--seen{
    opacity: 0.6;
}

.c-notification--seen:hover{
    opacity: 1;
}

.c-notification--unseen{
    font-weight: bold;
}

.notifications {
    min-width: 420px;
    margin-top: 10px;
    width: auto;
    max-width: 600px;
    padding: 15px;
}





/*------------------------------------*\
  #STATUS
\*------------------------------------*/
.status--error,
.status--success{
    padding: 0.3em 0.6em;
    border-radius: 3px;
}

.status--error {
    color: #ab0022;
    background: rgba(230, 42, 50, 0.21);
}

.status--success{
    color: #00ab63;
    background: rgba(42, 230, 64, 0.2);
}

.js-input-error {
    margin-top: -13px;
    display: block;
    margin-bottom: 10px;
}



.js-date{
    display: none;
}

.u-unvailable{
    opacity: 0.4;
    cursor: not-allowed;
}

.h-fillParent{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}




/*------------------------------------*\
  #AUCTION
\*------------------------------------*/
.auction__img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}


.h-cf::after{
    content: '';
    display: table;
    clear: both;
}

.h-show{
    display: block;
}
.h-forceShow{
    display: block!important;
}

.h-showInline{
    display: inline-block;
}

.h-forceHide{
    display: none!important;
}






/*------------------------------------*\
  #LAYOUT RELATED
\*------------------------------------*/
.l-pad1{
    padding: 15px;
}


.l-full{
    width: 100%;
}






/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.home{
    font-size: 24px;
    position: relative;
    top: -2px;
}


.logout {
    text-align: right;
    position: relative;
    left: 30px;
}

.logout a {
    color: #F44336;
    text-decoration: none;
    font-size: 16px;
    margin-top: 4px;
    display: inline-block;
}


span.greetings {
    position: relative;
    top: -5px;
}





/*------------------------------------*\
  #CUSTOM
\*------------------------------------*/
.u-softhide{
    display: none;
}

.u-hardhide{
    display: none!important;
}

.a-select--multiple{
    display: block;
    height: 10em;
    width: 100%;
}

[name="description"]{
    height: 10em;
}

html{
    background: #fafafa;
}

.custom-container{
    max-width: 760px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}



input, select, button{
    opacity: 1;
    transition: all 0.2s ease-in;
}

[readonly], [disabled]{
    border: 1px solid transparent!important;
    cursor: not-allowed;
    transition: all 0.2s ease-in;
}

button[disabled]{
    opacity: 0;
    transition: all 0.2s ease-in;
}

input[type="date"] {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="date"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
input[type="date"]:focus{
    border: 1px solid #33C3F0;
    outline: 0; }

.c-btn, .button-primary{
    background: linear-gradient(#40abcf, #96cfbb);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid #1EAEDB;
    line-height: 1.5;
}

.c-btn:hover, .button-primary:hover{
    box-shadow: 0 3px 12px rgba(0,0,0,0.4);
    transition: box-shadow 0.1s ease-in-out;
}

.c-btn:active, .button-primary:active{
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

.c-btn--round{
    padding: 5px;
    color: white;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
}

.button-primary{
    padding: 10px 20px;
}



html, body{
    height: 100%;
}

body {
    margin: 0 0 20px;
    background: hsla(195,100%,97%,1);
}

header {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 0 18px rgba(0,0,0,0.07);
    padding: 15px 0;
    background: white;
    margin-bottom: 20px;
}