<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.url">jdbc:mysql://localhost:3306/auctionwebsite</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <!--<property name="hibernate.show_sql">true</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <mapping class="javauction.model.AuctionEntity"/>
        <mapping class="javauction.model.AuctionCategoryEntity"/>
        <mapping class="javauction.model.BidEntity"/>
        <mapping class="javauction.model.CategoryEntity"/>
        <mapping class="javauction.model.ItemImageEntity"/>
        <mapping class="javauction.model.MessagesEntity"/>
        <mapping class="javauction.model.RatingEntity"/>
        <mapping class="javauction.model.UserEntity"/>
        <mapping class="javauction.model.NotificationEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>